<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-umeng-analytics"
        version="3.1.0">

    <name>cordova-plugin-umeng-analytics</name>

    <js-module src="www/UmengAnalytics.js" name="UmengAnalytics">
        <clobbers target="UmengAnalytics" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <header-file src="src/ios/UMCommonModule.h" />
        <source-file src="src/ios/UMCommonModule.m" />
        <header-file src="src/ios/UMAnalyticsModule.h" />
        <source-file src="src/ios/UMAnalyticsModule.m" />

        <config-file target="config.xml" parent="/widget/plugins">
            <feature name="AnalyticsSDK">
                <param name="ios-package" value="UMAnalyticsModule"/>
            </feature>
        </config-file>
        <framework src="src/ios/UMCommon.framework" custom="true" />
        <framework src="src/ios/UMAnalytics.framework" custom="true" />
        <framework src="libsqlite.tbd" />
        <framework src="libz.tbd" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />

    </platform>
    <!-- android -->
    <platform name="android">

        <source-file src="src/android/umeng-common-2.0.1.jar" target-dir="libs" />
        <source-file src="src/android/umeng-analytics-8.0.0.jar" target-dir="libs" />
        <source-file src="src/android/PGCommonSDK.java" target-dir="src/com/umeng/plugin" />
        <source-file src="src/android/AnalyticsSDK.java" target-dir="src/com/umeng/plugin" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AnalyticsSDK">
                <param name="android-package" value="com.umeng.plugin.AnalyticsSDK"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
    </platform>

</plugin>
